.politic_page{
	padding-top: 33px;
	h4{
		color: #307FE2;
		font-family: 'Raleway';
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 140%;
			margin-top: 48px;
	}
}